.about {
  margin-top: 30px;
  padding: 15px;

  color: #000000;

  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: $bp-desktop) {
    margin-top: 65px;
    padding-top: 25px;
    padding-bottom: 34px;
    padding-left: 40px;

    background-image: url("../img/girl.jpg");
  }
}

.about__title {
  font-size: 30px;
  text-transform: uppercase;

  @media (min-width: $bp-desktop) {
    max-width: 600px;
    margin: 0;

    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2.5px;
  }

  span {
    color: $main-red;
  }
}

.about__text {
  margin: 0;
  margin-top: 21px;

  font-size: 17px;
  line-height: 26.02px;

  @media (min-width: $bp-desktop) {
    width: 555px;
  }

  span {
    @media (min-width: $bp-desktop) {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
