.ask {
  text-align: center;

  @media (min-width: $bp-tablet) {
    background-image: url("../img/fire.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  @media (min-width: $bp-desktop) {
    background-position: 0 -95px;
    background-size: 100%;
  }
}

.ask__title {
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;

  @media (min-width: $bp-desktop) {
    margin: 0;
    margin-top: 44px;
  }

  span {
    color: $main-red;
  }
}

.ask__text {
  font-size: 22px;
  line-height: 1;

  @media (min-width: $bp-desktop) {
    margin: 0;
    margin-top: 11px;
    margin-bottom: 28px;
  }

  &--question {
    position: relative;

    padding-top: 25px;
    padding-left: 50px;

    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;

    @media (min-width: $bp-desktop) {
      margin-bottom: 58px;
      padding-top: 48px;
      padding-right: 15px;
      padding-left: 87px;
    }

    &::before {
      content: "1";
      position: absolute;
      top: 40px;
      left: 5px;

      width: 40px;
      height: 40px;

      line-height: 40px;
      text-align: center;

      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;

      @media (min-width: $bp-tablet) {
        top: 18px;
        left: 18%;
      }

      @media (min-width: $bp-desktop) {
        top: 31px;

        width: 60px;
        height: 60px;

        font-size: 30px;
        line-height: 60px;
      }
    }

    @media (min-width: $bp-tablet) {
      text-align: center;
    }
  }
}


.ask__inner {
  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: $bp-desktop) {
    width: 641px;
    margin: 0 auto;
  }
}

.ask__btn {
  min-width: 250px;
  min-height: 80px;
  margin-bottom: 15px;
  padding: 20px 10px;

  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $main-red;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @media (min-width: $bp-desktop) {
    margin-bottom: 52px;

    &:last-child {
      margin-left: 15px;
    }
  }
}
