.features {
  padding-bottom: 52px;

  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column;
    padding-top: 55px;

    background-image: url("../img/product-two.png"), url("../img/planking.png");
    background-repeat: no-repeat;
    background-position: -70px 165px, -70px 338px;
  }
}

.features__title {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $bp-desktop) {
    margin: 0;

    font-size: 40px;
    line-height: 1;
  }

  span {
    font-weight: 700;
    color: $main-red;
  }
}

.features__list {
  @include list-reset;

  width: 100%;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $bp-desktop) {
    align-self: flex-end;
    width: 661px;
    padding-top: 40px;
  }
}

.features__item {
  max-width: 200px;
  min-height: 251px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #0b0b0b;

  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: $bp-desktop) {
    margin-bottom: 12px;
  }
}

.features__img {
  margin-bottom: 25px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.features__text {
  margin: 0;
  padding: 0 10px;
  padding-bottom: 10px;
}
