.page-header {
  @media (min-width: $bp-tablet) {
    display: flex;
  }
}

.page-header__list {
  @include list-reset;

  max-width: 260px;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    display: flex;
    max-width: 50%;
    align-items: center;
  }
}

.page-header__item {
  position: relative;

  padding: 10px 0;
  padding-left: 80px;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;

    width: 40px;
    height: 40px;

    background-image: url("../img/icon-leaf.png");
    background-repeat: no-repeat;
  }

  &--like {
    &::before {
      background-image: url("../img/icon-like.png");
    }
  }
}
